.box {
    width: 100px;
    height: 100px;
    background-color: #bada55;
    transition-property: width, background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.box:hover {
    width: 200px;
    background-color: #000;
}